
<form [formGroup]="nomGroupeForm">
<mat-form-field appearance="fill">
  <mat-label>Nom</mat-label>
  <input matInput formControlName="nom">
</mat-form-field>


<mat-form-field appearance="fill">
  <mat-label>Enseignement</mat-label>

  <mat-select #modulesSelectionRef>
    <mat-option *ngFor="let module of modules" [value] = "module" >
              {{module["Intitulé"]}}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field appearance="fill">
  <mat-label>Type de groupe</mat-label>

  <mat-select #typeGroupe>
    <mat-option *ngFor="let type of typesGroupe" [value] = "type" >
              {{type}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button [disabled] = "!this.nomGroupeForm.valid" mat-raised-button color="primary" (click)="createGroupeEtudiant(modulesSelectionRef.selected,typeGroupe.value)">
      ajouté
</button>
</form>
