<h1>C.R.U.D Enseignants </h1> 
<button mat-button class="menu-button" routerLink="/admin/ajouterEnseignant">
    <mat-icon>add</mat-icon>
    <span>Ajouter</span>
</button>

<button mat-button class="menu-button" routerLink="/admin/modifierEnseignant">
    <mat-icon>edit</mat-icon>
    <span>Modifier</span>
</button>

<button mat-button class="menu-button" routerLink="/admin/supprimerEnseignant">
    <mat-icon>delete</mat-icon>
    <span>Supprimer</span>
</button>

<button mat-button class="menu-button" routerLink="/admin/listEnseignant">
    <mat-icon>list</mat-icon>
    <span>Liste</span>
</button>

<h1>Inscription et d'inscription des enseignants d'un module</h1> 

<button mat-button class="menu-button" routerLink="/admin/indexInscriptionDesinscriptionModule">
    <mat-icon>list</mat-icon>
    <span>Inscription / Désinscription</span>
</button>

