<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click) = "sidenav.toggle()">
        <mat-icon *ngIf = "!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf = "sidenav.opened">
            close
        </mat-icon>
    </button>
    MoodleV2
    <span class="example-spacer"></span>
    <button mat-button class="login-button" (click) = "deconnexion()">
        <mat-icon>logout</mat-icon>
        <span>Déconnexion</span>
    </button>
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav="matSidenav">

        <button mat-button class="menu-button" routerLink="shared/modificationProfil">
            <img class="avatar mat-elevation-z8" width = "120" height = "120" src="https://img.lovepik.com/free-png/20210924/lovepik-thinking-person-png-image_401333021_wh1200.png">
            <h4 class="name">{{authService.getUserDetails.prenom}} {{authService.getUserDetails.nom}}</h4>
            <p class="designation">{{authService.getUserDetails.role | uppercase}}</p>
        </button>
         
    <div *ngIf="(authService.getUserDetails.statut | lowercase) == 'admin' ">
        <app-admin-menu></app-admin-menu>
    </div>
    <div *ngIf="(authService.getUserDetails.statut | lowercase) == 'vacataire'">
        <app-vacataire-menu></app-vacataire-menu>
    </div>
    <div *ngIf="(authService.getUserDetails.statut | lowercase) != 'vacataire' && (authService.getUserDetails.statut | lowercase) != 'admin'">
        <app-non-vacataire-menu></app-non-vacataire-menu>
    </div>
    </mat-sidenav>
    <mat-sidenav-content>
           <div class="content mat-elevation-z4">
               <router-outlet></router-outlet>
           </div>
    </mat-sidenav-content>

</mat-sidenav-container>