<mat-divider></mat-divider>
<h3> Enseignant </h3>
<mat-divider></mat-divider>

<button mat-button class="menu-button" routerLink="/admin/ajouterEnseignant">
<mat-icon>add</mat-icon>
<span>Ajouter</span>
</button>

<button mat-button class="menu-button" routerLink="/admin/modifierEnseignant">
<mat-icon>edit</mat-icon>
<span>Modifier</span>
</button>

<button mat-button class="menu-button" routerLink="/admin/supprimerEnseignant">
<mat-icon>delete</mat-icon>
<span>Supprimer</span>
</button>

<button mat-button class="menu-button" routerLink="/admin/listEnseignant">
<mat-icon>list</mat-icon>
<span>Liste</span>
</button>

<mat-divider></mat-divider>
<h3> Formations </h3>
<mat-divider></mat-divider>

<button mat-button class="menu-button" routerLink="/formation/listFormation">
<mat-icon>list</mat-icon>
<span>Formation </span>
</button>
