<h1> Moodle V2 </h1>

<app-navbar></app-navbar>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/connexion" routerLinkActive="active">Connexion Component</a></li>
    <li><a routerLink="/inscription" routerLinkActive="active">Inscription Component</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->

  
<button class="btn btn-primary"> Click me !</button>

<router-outlet></router-outlet>
