<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>{{this.enseignementDetail["Intitulé"]}}</mat-card-title>
    <mat-card-subtitle><strong>Formation</strong> {{this.enseignementDetail["Formation"]}}</mat-card-subtitle>
    <mat-card-subtitle><strong>Semestre</strong> {{this.enseignementDetail["Semestre"]}}</mat-card-subtitle>
    <mat-card-subtitle><strong>Référence</strong> {{this.enseignementDetail["Ref"]}}</mat-card-subtitle>
    <mat-card-subtitle><strong>Statut</strong> {{this.enseignementDetail["Statut"]}}</mat-card-subtitle>
    <mat-card-subtitle><strong>Heure CM</strong> {{this.enseignementDetail["h/CM"]}}</mat-card-subtitle>
    <mat-card-subtitle><strong>Heure TD</strong> {{this.enseignementDetail["h/TD"]}}</mat-card-subtitle>
    <mat-card-subtitle><strong>Heure TP</strong> {{this.enseignementDetail["h/TP"]}}</mat-card-subtitle>
    <mat-card-subtitle><strong>Effectif</strong> {{this.enseignementDetail["Effectif"]}}</mat-card-subtitle>
    <mat-card-subtitle><strong>Groupe CM</strong> {{this.enseignementDetail["grCM"]}}</mat-card-subtitle>
    <mat-card-subtitle><strong>Groupe TD</strong> {{this.enseignementDetail["grTD"]}}</mat-card-subtitle>
    <mat-card-subtitle><strong>Groupe TP</strong> {{this.enseignementDetail["grTP"]}}</mat-card-subtitle>
    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </mat-card-title-group>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<h1>Information supplémentaires</h1>

<form [formGroup]="detailEnseignementForm">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre de groupe CM</mat-label>
    <input matInput placeholder="Nombre de groupe CM" formControlName="nombreCM">
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre de groupe TD</mat-label>
    <input matInput placeholder="Nombre de groupe TD" formControlName="nombreTD">
  </mat-form-field>


  <mat-form-field *ngIf="this.enseignementDetail['grTP'] != 0" class="example-full-width" appearance="fill">
    <mat-label>Nombre de groupe TP</mat-label>
    <input matInput placeholder="Nombre de groupe TP" formControlName="nombreTP">
  </mat-form-field>
</form>

<button color="primary" mat-raised-button (click)="inscriptionEnseignantModule()">S'inscrire</button>
